@import './menpage.css';
@import'./women.css';




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: serif;  
}
nav{
    /* background-color: red; */
    position: static;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 65px;
    line-height: 40px;
    background-color: #fff;
}

.menuSlider{
    display: none;
}

nav .wrapper{
    position: relative;
    /* max-width: 1250px; */
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
}

.wrapper .nav-links{
    display: inline-flex;
    margin-top: 10px; 
    flex: 1; 
    height: 100%;
    align-items: center;
}

.nav-links li{
    list-style: none;
    line-height: 60px;
}

.nav-links li a{
    text-decoration: None;
    font-size: 12px;
    color: #040404;
    font-weight: 400;
    padding: 9px 10px;
    transform: translate(-3em);
    z-index: -1;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.nav-links li a:hover{
  border-bottom: 1px solid #000;
}


.sliderONE{
    display: none;
    
}

.mega-box{
    position: absolute;
    top: 64%;
    background-color: #fff;
    /* background: blue; */
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.nav-links .Men:hover .mega-box{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s, 0s, 0.3s;
    z-index: 1;
    transform: translate(0);
}

.nav-links .Women:hover .mega-box,
.nav-links .Kids:hover .mega-box,
.nav-links .Home:hover .mega-box{
    opacity: 1;
    visibility: visible;
    transition: all 0.9s ease-out;
}

.mega-box .content{
    padding: 25px 20px;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.content .row{
    width: calc(30% - 30px);
    line-height: 30px;
}

.content .row .text-overlay{
  position: absolute;
  bottom: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content .row img{
    width: 80%;
    height: 70%;
    object-fit: cover;
}

.content .row header{
    font-size: 16px;
    color: black;
}

.content .row:nth-child(1),
.content .row:nth-child(2){
    border-left: 0px;
}

.content .row .mega-links li a{
    padding: 0;
    font-size: 12px;
    display: block;
    color: #767676;
    margin: 0;
    line-height: 35px;
}

.content .row .mega-links li a:hover{
    text-decoration: underline;
    border-bottom: 0px solid #000;
}

.navIcons{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.defultIcon a{
    color: #000;
    fill: #000;
    transition: fill 0.2s ease-in-out;
}

.changeTo{
    fill: #ccc;
    transition: fill 0.2s ease-in-out;
    display: none;
}

.iconwrapper:hover .defultIcon{
    fill: #ccc;
  display: none;
}

.iconwrapper:hover .changeTo{
    fill: #000;
  display: block;

}

.form-signin {
    position: absolute;
    font-size: 12px;
    right: -30px;
    top: 70%;
    width: 280px;
    padding: 30px 20px;
    height: fit-content;
    background-color: #ffff;
    display: none;

  }

.iconwrapper:hover .form-signin{
    display: block;
}

  .detailswrapper input{
    padding-left: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  
 .detailswrapper input:focus::-webkit-input-placeholder {
    font-size: 7px;
    

 }

  .form-signin .checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .form-signin .forgot-password {
    text-align: left;
    margin-bottom: 10px;
  }

  .form-signin .forgot-password a{
    text-decoration: none;
    color: #040404;
  }
  .form-signin .btn {
   font-size: 12px;
    padding: 15px;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    border: 0;
  }
 

  .form-signin input { 
    border-radius: none; 
  } 

  .line-with-text::before{
    content: "";
      display: block;
      border-top: 1px solid #D1D1D1;
      margin-top: 10px;
      margin-bottom: 10px;
      
  }

  .socialmediabtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }


  .socialmediabtn .btnwrapper button{
    background-color: transparent;
    outline: none;
    border: none;
    border: 1px solid #041E3A;
    padding: 5px 4px;
    width: 120px;
  }

  .socialmediabtn .btnwrapper button:hover{
    background-color: #041E3A;
    color: #fff;
  }

  .line-with-text{
    margin-top: 35px;
  }

  .line-with-text::after {
    content: "Or";
    display: inline-block;
    background-color: white;
    padding: 0 5px;
    position: relative;
    /* top: -10px; */
    transform: translate(120px, -80%);
    font-weight: bold;
  }
  .titlewrapper p{
    font-size: 20px;
  }

  .titlewrapper{
    display: flex;
    justify-content: space-between;

  }

  .menuSlider .btn {
    color: rgb(225, 20, 20);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .close-Btn{
    position: absolute;
    left: 12%;
    top: 0;
    color: black;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.mobileviewIcon{
    display: none;
}



  @media screen and (max-width: 970px) {

    .menuSlider{
        display: block;
    }

    .menuSlider input{
        /* position: absolute; */
        /* top: 40%;
        left: 5.5%; */
        background-color: aqua;
        width: 10px;
        display: none;


    }
    .menuSlider label{
        font-size: 24px;
        padding: 10PX;
        
    }

    .logo{
        display: flex;
        justify-content: center;
        margin-left: 5%;
        flex: 1;
    }

    .wrapper .nav-links{
        position: static;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        display: block;
        padding-left: 20px;
        top: 0;
        left: 0;
        overflow-y: auto;
        line-height: 50px;
        padding: 50px 10px;
        display: none;
    }

    .nav-links-Btn:focus ~ .nav-links{
        display: block;
    }

    
    /* editing work */

   

    .mobileviewIconwrapper{
        background-color: #041E3A;
        overflow-y: auto;
    }

    .mobileviewIcon{
        display: block;
        margin-left: 20px;
        display: flex;
        color: #fff;
        gap: 10px;
    }

    .iconwrapper{
        display: block;
    }
    
    .searchIcon .bi-search{
        display: block;
        right: 0;
       
    }

    .defultIcon{
        display: none;
    }

    .nav-links li{
        margin: 1px;
    }

    .wrapper .nav-links li a{
        padding: 0 20px;
        display: none;
    }

    
    .sliderONE{
        display: block;
        background-color: aqua;
        overflow-y: auto;
        padding: 0;
        top: 0;
    }
    
    .sliderONE input{
        display: none;
    }
    
    .sliderONE label{
        display: flex;
        flex-direction: row;
        font-size: 18px;
        padding-left: 10px;
        width: 320px;
        justify-content: space-between;
        
    }

    ::-webkit-scrollbar {
        width: 2px;
    }
   
    
    
    
    
  }

.heroPage{
    background: blueviolet;
    background-image: url(./images/hero\ page\ bckgrnd.webp);
    object-fit: cover;
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 80vh;
    /* position: sticky; */
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
   
   
}

.heroPage h1{
    font-size: 44px;
    color: #ffffff;
    font-weight: 400;
	margin-bottom: 10px;
}

.heroPage p{
    font-size: 20px;
    color: #ffffff;
  
}

.heroPage .herocontentwrapper{
    margin-top: 10%;
}


/* end of hero page */

main{
    max-width: 90%;
    margin: 0 auto;
    /* position: relative; */
    /* position: sticky; */
    
   
}


/* second nav bar */


.nav-sticky-wrapper{
    width: 100%;
    /* position: relative; */
    position: sticky;
    position: relative;
    /* z-index: 9999;im */
    border: 1px solid black;
    top: 65px;
    background-color: #041E3A;
 
}

.navBarStickywrapper{
    display: flex;
    /* background-color: #041E3A; */
    margin-top: 10px;
}

.navBarStickywrapper button{
    outline: none;
    text-transform: uppercase;
}

.navBarStickywrapper .filterwrapper{
    flex: 1;
}

.sortbywrapper{
    display: flex;
    align-items: center;
    position: relative;

}


.dropdown-menu{
    position: absolute;
    bottom: 0;
    height: px;
    

}
.filtercontentMainwrapper .lineUp{
    margin-top: 10px;
    border-bottom: 2px solid #D1D1D1;
}

.filtercontentMainwrapper .variousSize .size-box{
    margin-top: 25px;
}

.filtercontentMainwrapper .variousSize .size-box ul{
    font-size: 11px;
    list-style-type: none;

}

.filtercontentMainwrapper .variousSize .size-box li{
    margin-bottom: 20px; 
}

.filtercontentMainwrapper .variousSize .size-box li a{
    text-decoration: none;
    color: black;
}

.filtercontentMainwrapper .variousSize .size-box li a:hover{
    text-decoration: underline;
}

.filtercontentMainwrapper .variousSize .size-box h3{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.variousSize{
    display: flex;
}

.variousSize-2{
    display: flex;
}

/* start of card design */


.image-wrapper{
    width: fit-content;
    height: fit-content;
}

.secondImageWithIcon span{
    padding: 10px;
    border-radius: 50%;
    background-color: #fbfbfb;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 18px;
    right: 20px;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h2{
    margin-top: 20px;
    margin-bottom: 40px;
}

.container .row{
    gap: 0px;
}

.container .row .card{
    border-radius: 0;
    border: none;

}

.container .image-wrapper{
    position: relative;
  display: inline-block;
}

.container .image-wrapper .first-image {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .container .image-wrapper .secondImageWithIcon {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }

  .second-image{
display: block;
  width: 100%;

  }


  .image-wrapper:hover  .first-image {
    display: block;
  }

  .image-wrapper:hover .secondImageWithIcon{
    display: block;
    animation: image-change 4s infinite;
  }

  .card-body{
    font-family: "Founders Grotesk text Regular", Helvetica, Arial, sans-serif;
 
  }


  .card-body .card-title{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #6d6f73;
  }

  .card-body .card-text{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #041e3a;
    text-decoration: none;
  }

  .card-body .card-text:hover{
    text-decoration: underline;
  }

  .card-body .card-text .two{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #041e3a;
    
  }

.card-body .card-foot{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #6d6f73;
  }

  .card-body .card-Price{
    color:  #9f6c36;
    font-size: 12px;
    font-weight: 400;
  }
 
/* end of card */

.viewMore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.viewMore p{
    color: #6d6f73;
    font-size: 13px;
}

.viewMore a{
    color: #000;
    font-size: 13px;
}

.viewMore button{
    outline: none;
    background-color: transparent;
    width: 230px;
    padding: 15px 0;
    text-transform: uppercase;
    font-size: 14px;
}

.viewMore button:hover{
    background-color: #041e3a;
    color: #fff;
}

.lastInformation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    align-items: center;
    margin: 0 auto;
}

.lastInformation h2{
    font-size: 19px;
    font-family: "Times New Roman", Times, serif;
    color: #041e3a;
    font-weight: 400;
    line-height: 23px;
}

.lastInformation p{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #041e3a;
    font-family: "Founders Grotesk text Regular", Helvetica, Arial, sans-serif;
    

}

.lastInformation p span {
    font-size: 14px;
    color: #3498db;

}

.lastInformation p span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.container-fluid{
    margin: 50px 0;

}
 
.container-fluid .row{
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    
}

.container-fluid .row {
    margin-top: 20px !important;
   
}

.container-fluid .row .foot001{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    border-left:1px solid  #D1D1D1;
    padding-left: 30px !important;
}

.container-fluid .row .foot001 h5{
    font-size: 14px;
    font-weight: 500;
    font-family: "Founders Grotesk Text Medium", Helvetica, Arial, sans-serif;
    color: #252525;
}

.container-fluid .row .foot001 ul li a{
    font-size: 13px;
    font-weight: 400;
    font-family: "Founders Grotesk Text Medium", Helvetica, Arial, sans-serif;
    color: #000000;
    text-decoration: none;
}

.container-fluid .row .foot001 ul li a:hover{
    text-decoration: underline;
}

.search-submit input{
    width: 200px;
    padding: 10px;
    outline: none;
}

.search-submit button{
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    background-color: #041E3A;
    
}

.search-submit span{
    text-decoration: underline;
    cursor: pointer;
}

  

