*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
nav{
    /* background-color: red; */
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 65px;
    line-height: 40px;
}

nav .wrapper{
    position: relative;
    max-width: 1250px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
}

.wrapper .nav-links{
    display: inline-flex;
    margin-top: 10px; 
    flex: 1; 
}

.nav-links li{
    list-style: none;
    line-height: 60px;
}

.nav-links li a{
    text-decoration: None;
    font-size: 12px;
    color: #040404;
    font-weight: 400;
    padding: 9px 10px;
    transform: translate(-3em);
    z-index: -1;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.nav-links li a:hover{
  border-bottom: 1px solid #000;
}

.mega-box{
    position: absolute;
    top: 80px;
    background-color: #fff;
    /* background: blue; */
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.nav-links .Men:hover .mega-box{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s, 0s, 0.3s;
    z-index: 1;
    transform: translate(0);
}

.nav-links .Women:hover .mega-box,
.nav-links .Kids:hover .mega-box,
.nav-links .Home:hover .mega-box{
    opacity: 1;
    visibility: visible;
    transition: all 0.9s ease-out;
}

.mega-box .content{
    padding: 25px 20px;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.content .row{
    width: calc(30% - 30px);
    line-height: 30px;
}

.content .row .text-overlay{
  position: absolute;
  bottom: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content .row img{
    width: 80%;
    height: 70%;
    object-fit: cover;
}

.content .row header{
    font-size: 16px;
    color: black;
}

.content .row:nth-child(1),
.content .row:nth-child(2){
    border-left: 0px;
}

.content .row .mega-links li a{
    padding: 0;
    font-size: 12px;
    display: block;
    color: #767676;
    margin: 0;
    line-height: 35px;
}

.content .row .mega-links li a:hover{
    text-decoration: underline;
    border-bottom: 0px solid #000;
}

.navIcons{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}

.defultIcon a{
    color: #000;
    fill: #000;
    transition: fill 0.2s ease-in-out;
}

.changeTo{
    fill: #ccc;
    transition: fill 0.2s ease-in-out;
    display: none;
}

.iconwrapper:hover .defultIcon{
    fill: #ccc;
  display: none;
}

.iconwrapper:hover .changeTo{
    fill: #000;
  display: block;
}

.form-signin {
    /* max-width: 400px; */
    /* margin: 0 auto; */
    position: absolute;
    font-size: 12px;
    right: 0;
    width: 280px;
    padding: 30px 20px;
    height: fit-content;
    /* background-color: #767676; */

  }
  .form-signin input[type="email"],
  .form-signin input[type="password"] {
    margin-bottom: 10px;
  }
 

  .form-signin .checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .form-signin .forgot-password {
    text-align: left;
    margin-bottom: 10px;
  }

  .form-signin .forgot-password a{
    text-decoration: none;
    color: #040404;
  }
  .form-signin .btn {
   font-size: 12px;
    padding: 15px;
    width: 100%;
    /* background-color: #08213D; */
    box-shadow: none;
    border-radius: 0;
    border: 0;
  }
 

  .form-signin input { 
    border-radius: none; 
  } 

  .line-with-text::before{
    content: "";
      display: block;
      border-top: 1px solid #D1D1D1;
      margin-top: 10px;
      margin-bottom: 10px;
      
  }

  .socialmediabtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }


  .socialmediabtn .btnwrapper button{
    background-color: transparent;
    outline: none;
    border: none;
    border: 1px solid #041E3A;
    padding: 5px 4px;
    width: 120px;
  }

  .socialmediabtn .btnwrapper button:hover{
    background-color: #041E3A;
    color: #fff;
  }

  .line-with-text{
    margin-top: 35px;
  }

  .line-with-text::after {
    content: "Or";
    display: inline-block;
    background-color: white;
    padding: 0 5px;
    position: relative;
    /* top: -10px; */
    transform: translate(120px, -80%);
    font-weight: bold;
  }



